<div class="container">
	<h2>Perfil</h2>
	<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %> alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<%= value %>
	</div>
	<% end %>
	<div>
		<table style="width:100%; border: 1px solid black;">
			<tr style="border: 1px solid black; align: center; background-color: #e4e3e3">
				<th style="padding: 10px; border: 1px solid black; text-align: center;">ID</th>
				<th style="padding: 10px; border: 1px solid black; text-align: center;">Email</th>
				<th style="padding: 10px; border: 1px solid black; text-align: center;">Current sign in at</th>
				<th style="padding: 10px; border: 1px solid black; text-align: center;">Sign in count</th> 
				<th style="padding: 10px; border: 1px solid black; text-align: center;">Created at</th>
			</tr>
			<tr>
				<td style="padding: 10px; text-align: center;"><%= current_user.id  %> </td>
				<td style="padding: 10px; text-align: center;"><%= current_user.email %></td>
				<td style="padding: 10px; text-align: center;"><%= current_user.current_sign_in_at  %></td>
				<td style="padding: 10px; text-align: center;"><%= current_user.sign_in_count %></td> 
				<td style="padding: 10px; text-align: center;"><%= current_user.created_at %></td>
			</tr>
		</table>
	</div>
	<!-- COMPROBACIO DE SETTING SI NO ES NULL -->  
	<h2>Datos usuario</h2> 
	<div>
	 	<table style="width:100%; border: 1px solid black;">
			<tr style="border: 1px solid black; background-color: #b0b9f1; color: white">
				<th style="padding: 10px; text-align: center; border: 1px solid black;">Pais</th>
				<th style="padding: 10px; text-align: center; border: 1px solid black;">Idioma</th>
				<th style="padding: 10px; text-align: center; border: 1px solid black;" colspan="2"><span class="glyphicon glyphicon-pencil"></span></th>
			</tr>
				<%if !@setting.nil?%>
			<tr style="border: 1px solid black;">
				<td style="padding: 10px; text-align: center; border: 1px solid black;"><%= @setting.country %></td>
				<td style="padding: 10px; text-align: center; border: 1px solid black;"><%= @setting.language %></td>
				<td style="padding: 10px; text-align: center; border: 1px solid black;">
					<%= link_to ' Editar', edit_setting_path(@setting.id), :title => "Editar", class: 'btn btn-xs btn-primary fa fa-1x fa-edit ', style:"color: white;" %>
				</td>
				<td style="padding: 10px; text-align: center; border: 1px solid black;">
					<%= link_to "Delete", setting_path(@setting),:method => :delete, :title => "Delete", class: 'btn btn-xs btn-danger fa fa-1x fa-edit ', style:"color: white;" %>
				</td>
   				<%else%>
			</tr>	
				<%= link_to 'Añadir', new_setting_path, title:"Añadir", class: "btn btn-xs btn-success fa fa-1x fa-address-book", style:"color:white;" %>
			<%end%>
		</table>
		<br/>
		<br/>
		<h2>Pagos usuario</h2> 
		<p><%= link_to "Nuevo pago", new_charge_path, title:"Nuevo pago", class: "btn btn-primary", style:"color:white;" %></p>

		<table style="width:100%; border: 1px solid black;">
			<tr style="border: 1px solid black; align: center; background-color: #e4e3e3">
				<th style="padding: 10px; border: 1px solid black; text-align: center;">Subscription</th>
				<th style="padding: 10px; border: 1px solid black; text-align: center;">Channel</th>
				<th style="padding: 10px; border: 1px solid black; text-align: center;">Active</th>
				<th style="padding: 10px; border: 1px solid black; text-align: center;">Plan</th> 
				<th style="padding: 10px; border: 1px solid black; text-align: center;">Amount</th>
			</tr>
			<%if !@payment.nil?%>
				<%@payment.each do |payment|%>
			<tr>
				<td style="padding: 10px; text-align: center;"><%=payment.subscription%> </td>
				<td style="padding: 10px; text-align: center;"><%=payment.channel%></td>
				<td style="padding: 10px; text-align: center;"><%=payment.active%></td>
				<td style="padding: 10px; text-align: center;"><%=payment.plan%></td> 
				<td style="padding: 10px; text-align: center;"><%=payment.amount%></td>
			</tr>
				<%end%>
			<%end%>
		</table>
		<%= link_to 'Comprar peli', select_movies_path, title:"Comprar Pelis", class: "btn btn-xs btn-success fa fa-1x fa-address-book", style:"color:white;" %>
		<!-- <br/>
		<br/>
		<% if !@payment.nil? %>
		<%@payment.each do |payment|%>
		<p><%= payment.subscription %></p>
		<p><%= payment.channel %></p>
		<p><%= payment.active %></p>
		<p><%= payment.plan %></p>
		<p><%= payment.amount %></p>                
		<%end%>
		<%end%> -->
	</div>
</div>
