</div class="container">
<%= form_for @pelicula do |peli| %>
<p><b>Name:</b><%= peli.text_field :name %></p> <br>
<p><b>Stars:</b><%= peli.text_field :stars %></p> <br>
<p><b>Director:</b><%= peli.text_field :director %></p> <br>
<p><b>Año:</b><%= peli.text_field :year %></p> <br>
<p><b>Actor:</b><%= peli.text_field :actor %></p> <br>
<p><b>Genero:</b><%= peli.text_field :genero %></p> <br>

<%= peli.submit "Enviar Pelicula" %>

<%end%>
</div>