<div class="container">
<h1>Aquí todas las películas que tenemos en la BBDD</h1>

<% @peliculas.each do |peli| %>
	<p> <%= link_to peli.name, peli %> </p>
	<p>Nombre: <%= peli.name %></p>
	<p>Director: <%= peli.director %></p>
	<p>Estrellas: <%= peli.stars %></p>
	<p>Año: <%= peli.year %></p>
	<p>Actor principal: <%= peli.actor %></p>
	<p>Genero: <%= peli.genero %></p>
	
	<p><%= link_to "Editar Pelicula", edit_pelicula_path(peli) %></p>
<%end%>

<p> <%= link_to "Añadir nueva peli", new_pelicula_path %> </p>
</div>